 *{
    font-family: Arial, Helvetica, sans-serif;
 }

/* WELCOME CONTAINER */

.welcome_container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    overflow: hidden;
    height: 100vh;
}

.welcome{
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.6);
    position: absolute;
    width: 45%;
    left: 0;
    flex: 50%;
    padding: 100px;
}

.welcome_container img{
    flex: 50%;
    width: 100%;
    margin-top: -1.5px;
    height: auto;
    position: relative;
    z-index: -1;
}

.welcome h1{
    font-size: 3rem;
    color: black;
}

.welcome h2{
    margin-top: 30px;
}

.welcome p{
    color: rgb(0, 0, 0);
    font-size: 1rem;
    border-radius: 5px;
    margin: 20px 0px;
}

.welcome button{
    margin-top: 30px;
    padding: 10px;
    background-color: rgb(255, 77, 0);
    border: 1px solid transparent;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    width: 150px;
    height: 50px;
    cursor: pointer;
} 


/* FEATURED LOCATIONS */
.canada_info{
    height: 500px;
    text-align: center;
}

.canada_title{
    margin-top: 10px;
}

.canada_locations{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
}

.featured_container{
    width: 350px;
    height: 300px;
    flex: 30%;
    margin-top: 50px;
    box-shadow: -5px 10px 10px #5e5e5e67;
    border-radius: 10px;

}

.featured_container .featured_image_container img{
    width: 350px;
    height: 250px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.featured_container p{
    width: 100%;
    height: 60px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 10px;
}

/* RESPONSIVE ELEMENTS */ 

@media (max-width: 800px) {
    .welcome_container{
        overflow: show;
        height: 900px;
    }
    .welcome_container img{
        flex: 100%;
        width: 100%;
    }
    .welcome, .featured_container{
        flex: 100%;
        position: relative;
    }
  }