.main {
    background-color: lightcyan;
}

.header h1 {
    font-family: "SpongeboyRegular";
}

.spongebob, .patrick, .squidward {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}