* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

nav{
  background-color: rgba(255, 255, 255, 0);
  position: absolute;
  z-index: 2;  
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0);
  display: flex;
  align-items: end;
}


li:first-child{
  background-color: rgb(255,77,0);
}

li {
  padding: 14px 16px;
  flex: 20%;
}

li:hover {
  background-color: rgb(255,77,0);
  cursor: pointer;
}